body{
    max-width: 1024px;
    margin: 0 auto;
    font-size: 1.5em;
}

div{
    box-sizing: border-box;
}

.header__img{
    width: 100%;
}

img{
    display: block;
    margin: 0 auto;
}

.header__info-contact-wrapper{
    border-bottom: 1px solid;
    padding: 10px;
}