body {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #fedb25;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #ffffff;
  border-top: solid 4px #101214;
  border-bottom: solid 4px #101214;
  box-sizing: border-box;
  padding: 38px;
  border-radius: 7px;
}
.title_wrapper {
  margin-bottom: 32px;
}

aside,
aside a {
  color: #73808d;
}
a {
  transition: color 0.3s;
}
a:hover {
  color: red;
}
.main_info {
  margin-bottom: 36px;
}
.aside_block_wrapper {
  margin-bottom: 24px;
}
.aside_block_wrapper li {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #73808d;
}
.main_info li {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
}
aside h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 36px;
}
main {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-column-gap: 20px;
}
.main_container h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #73808d;
}
.image_wrapper img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  filter: drop-shadow(0px 2px 4px rgba(16, 18, 20, 0.08));
  margin-bottom: 32px;
}
.block_wrapper {
  margin-bottom: 18px;
  color: #101214;
}
.block_wrapper .title {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 36px;
}
.block_wrapper .place {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
}
.block_wrapper .years {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  color: #73808d;
}
.block_wrapper .description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
h1 {
  font-family: Arial;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0px;
  text-align: left;
}
h2 {
  font-family: Arial;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0px;
  text-align: left;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
}
.rs_logo {
  width: 80px;
}
